<div class="section">
	<h3>{{headingTitle}}</h3>
	<div>
		<table class="table table-bordered" ng-repeat="ticket in tickets">
			<thead>
				<tr class="warning">
					<th>Musical_Lotto</th>
					<th>Developed By:</th>
					<th>krishnabab@gmail.com</th>
					<th>TicketID:</th>
					<th>{{ticket.ticktID}}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="success">
					<td>{{ticket.song11}}</td>
					<td>{{ticket.song12}}</td>
					<td>{{ticket.song13}}</td>
					<td>{{ticket.song14}}</td>
					<td>{{ticket.song15}}</td>
				</tr>
				<tr class="danger">
					<td>{{ticket.song21}}</td>
					<td>{{ticket.song22}}</td>
					<td>{{ticket.song23}}</td>
					<td>{{ticket.song24}}</td>
					<td>{{ticket.song25}}</td>
				</tr>
				<tr class="info">
					<td>{{ticket.song31}}</td>
					<td>{{ticket.song32}}</td>
					<td>{{ticket.song33}}</td>
					<td>{{ticket.song34}}</td>
					<td>{{ticket.song35}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>